/*
 * Copyright 2008 Google Inc. All Rights Reserved.
 *
 * Use of this source code is governed by an Apache 2.0 License.
 * See the COPYING file for details.
 */

/* goog.ui.DatePicker */

.goog-date-picker {
  -moz-user-focus: normal;
  -moz-user-select: none;
  position: relative;
  border: 1px solid black;
  float: left;
  font: menu;
  padding: 0 1px;
  color: black;
  background: white;
  cursor: default;
}

.goog-date-picker th {
  font: menu;
  text-align: center;
}

.goog-date-picker td {
  font: menu;
  text-align: center;
  vertical-align: middle;
  border: 1px solid white;
  border-width: 0 1px;
  padding: 1px 3px;
}


.goog-date-picker-menu {
  position: absolute;
  background: threedface;
  border: 1px solid gray;
  -moz-user-focus: normal;
  z-index: 1;
  outline: none;
}

.goog-date-picker-menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.goog-date-picker-menu ul li {
  cursor: default;
}

.goog-date-picker-menu-selected {
  background: #ccf;
}

.goog-date-picker th {
  color: gray;
  font-size: 0.9em;
}

.goog-date-picker td div {
  float: left;
}

.goog-date-picker button {
  padding: 0px;
  margin: 1px;
  border: 1px solid gray;
}

.goog-date-picker-week,
.goog-date-picker-wday {
  padding: 1px 3px;
}

.goog-date-picker-head td {
  text-align: center;
}

/** Use td.className instead of !important */
td.goog-date-picker-today-cont {
  text-align: left;
}

/** Use td.className instead of !important */
td.goog-date-picker-none-cont {
  text-align: right;
}

.goog-date-picker-month {
  width: 12ex;
}

.goog-date-picker-year {
  width: 6ex;
}

.goog-date-picker table {
  border-collapse: collapse;
}

.goog-date-picker-other-month {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(Opacity=30);
}

.sat {
  background: #fcc;
}

.sun {
  background: #fcc;
  color: red;
}


.goog-date-picker-selected {
  background: #ccf;
  color: blue;
}

.goog-date-picker-today {
  font-weight: bold !important;
}

.goog-date-picker {
  position: absolute;
}

