<!--
Copyright 2010 Google Inc. All Rights Reserved.

Use of this source code is governed by an Apache 2.0 License.
See the COPYING file for details.
-->
{% extends 'base_email.html' %}


{% block content %}
<p>
  {% ifequal register.user register.creator %}Your enrollment {% else %}Enrollment for {{register.user.email }} {% endifequal %} in <a href='https://{{ hostname }}{% url ShowActivity activity_key=register.activity.key %}'>{{ register.program.name }}</a> has been rejected.
</p>
{% endblock %}

{% block location %}
{% endblock %}

{% block footer %}
<p> Reasons for rejection:</p>
<ul>
  {% for reason in status_reasons %}
    <li> {{ reason }} </li>
  {% endfor %}
</ul>
{% endblock %}