{% extends 'base.html' %}

{% block nav-title %}
Settings
{% endblock %}

{% block content %}
  <form action="" method="post" enctype="multipart/form-data">
  <table class="forms">
    <tr>
      <th>Location</th>
      <td> {{ form.location }} {{ form.location.errors }} </td>
    </tr>
    <tr>
      <th>
      </th>
      <td class='padding-top'>
        <input type="hidden" name="referrer" value="{{ request.GET.referrer }}"/>
        <input type="submit" value="Save"/>
        <input type="button" value="Cancel" onClick="window.location='{{ request.GET.referrer }}'">
      </td>
    </tr>
  </table>
  </form>
{% endblock %}
<!--
Copyright 2010 Google Inc. All Rights Reserved.

Use of this source code is governed by an Apache 2.0 License.
See the COPYING file for details.
-->
